<div class='container'>
   <div class='row p-3'>
      <div class='col-11'>

     <h3>マイページ</h3>
     <table style = "margin-bottom: 20px;">
       <tr>
         <th style = "padding-right: 30px;">
           登録情報
         </th>
         <td>
           <%= link_to "編集する", edit_path, class:"btn btn-sm btn-success" %>
         </td>
       </tr>
     </table>

     <table border="1" style="border-collapse: collapse; width: 50%; text-align: center;">
        <td style = "background: #EEE;">
          <p>氏名</p>
        </td>
        <td>
           <%= @customer.last_name  %>
           <%= @customer.first_name  %>
        </td>
     </tr>
     <tr>
        <td style = "background: #EEE;">
          <p>カナ</p>
        </td>
        <td>
           <%= @customer.last_name_kana  %>
           <%= @customer.first_name_kana  %>
        </td>
     </tr>
     <tr>
        <td style = "background: #EEE;">
          <p>郵便番号</p>
        </td>
        <td>
           <%= @customer.post_code  %>
        </td>
     </tr>
     <tr>
        <td style = "background: #EEE;">
          <p>住所</p>
        </td>
        <td>
           <%= @customer.address  %>
        </td>
     </tr>
     <tr>
        <td style = "background: #EEE;">
          <p>電話番号</p>
        </td>
        <td>
           <%= @customer.phone_number  %>
        </td>
     </tr>
     <tr>
        <td style = "background: #EEE;">
          <p>メールアドレス</p>
        </td>
        <td>
           <%= @customer.email  %>
        </td>
     </tr>
     </table>
     <br>
     <table>
       <tr>
         <th style = "padding-right: 30px;">
           配送先
         </th>
         <td>
           <%= link_to "一覧を見る", addresses_path, class:"btn btn-sm btn-primary" %>
         </td>
       </tr>
       <tr>
         <th style = "padding-right: 30px;">
           注文履歴
         </th>
         <td>
           <%= link_to "一覧を見る", orders_path, class:"btn btn-sm btn-primary" %>
         </td>
       </tr>
     </table>
     </div>
   </div>
</div>