<!--変数名など修正箇所あります-->
<h3>商品詳細</3>

<!--商品画像-->
<%= image_tag @item.get_item_image, size:"100x100" %>

<!--商品名-->
<%= @item.name %>

<!--商品説明-->
<%= @item.name %>

<!--ジャンル-->
<%= @item.genre %>

<!--税込価格（税抜価格）-->
<p>¥</p></p><%= @item.price %>

<!--ステータス-->
<%= @item.status %>

<div class="form-group">
    <%= f.submit "編集する", class: 'btn btn-secondary' %>
</div>
