<h3>会員一覧</3>

<% @customers.each do |customer| %>

<!--会員id-->
<div>
  <%= customer.id %>
</div>

<!--氏名-->
<div>
  <%= customer.last_name %><%= customer.first_name %>
</div>

<!--メールアドレス-->
<div>
  <%= customer.email %>
</div>

<!--ステータス-->
<div>
  <%= customer.is_deleted %>
</div>

<% end %>