<h3>配送先編集</h3>
<%= form_with model: @address do |f| %>
<table>
<tr>
   <td>
     <p>郵便番号(ハイフンなし)</p>
   </td>
   <td>
      <%= f.text_field :post_code %>
   </td>
</tr>
<tr>
   <td>
     <p>住所</p>
   </td>
   <td>
      <%= f.text_field :address %>
   </td>
</tr>
<tr>
   <td>
     <p>宛名</p>
   </td>
   <td>
      <%= f.text_field :name %>
   </td>
   <td></td>
   <td>
      <%= f.submit '変更内容を保存',class: "btn btn-sm btn-success" %>
   </td>
</tr>
</table>
<% end %>
