<h4>注文履歴詳細</h4>

  <table border="1" style="border-collapse: collapse">
    <thead>
    <tr>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>ステータス</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <!--注文日-->
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>

        <!--配送先（郵便番号、住所、宛名）-->
        <td>〒<%= @order.post_code %><br>
            <%= @order.address %><br>
            <%= @order.name %></td>
        <!--支払い方法-->
        <td><%= @order.payment_method_i18n %></td>
        <!--ステータス-->
        <td><%= @order.status_i18n %></td>
      </tr>
    </tbody>
  </table>

  <h4>請求情報</h4>

  <table border="1" style="border-collapse: collapse">
    <thead>
    <tr>
      <th>商品合計</th>
      <th>配送量</th>
      <th>ご請求額</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <!--商品合計-->
        <td><%= @order.total_payment %></td>
        <!--配送料-->
        <td><%= @order.shipping_cost %></td>
        <!--ご請求額-->
        <td><%= @order.total_payment += @order.shipping_cost %></td>
      </tr>
    </tbody>
  </table>

  <h4>注文内容</h4>

  <table border="1" style="border-collapse: collapse">
    <thead>
    <tr>
      <th>商品</th>
      <th>単価</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
    </thead>

    <tbody>
      <tr>
        <!--商品-->
        <td><%= @order.name %></td>
        <!--単価（税込）-->
        <td><%= @order.order_details.price*1.08 %></td>
        <!--個数-->
        <td><%= @order.count %></td>
        <!--小計-->
        <td><%= @order.price *= @order.item.count %></td>
      </tr>
    </tbody>
  </table>