<p><h3>商品一覧</3>（全<%= @items.count %>件)</p>

<% @items.each do |item| %>

<!--イメージタグを入れる-->

<%= link_to item_path(item.id) do %>
  <%#= image_tag item.image %>
  <%= image_tag item.get_item_image(100,100) %>
<% end %><br>

<!--商品名-->
<p><%= item.name %></p>

<!--金額 ※税抜になっているので税込みの計算式を入れる？-->
<p>¥<%= item.price.to_s(:delimited) %></p>

<% end %>