
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <!--ヘッダーのナビゲーションメニューとカラースキームの指定-->
  <!--画面幅によってナビゲーションを折りたたむ-->
  <nav class="navbar navbar-expand-lg" style="background-color: #DAC3B2;">
  <div class="container">

  <!--長野ケーキ（ロゴ）：トップに戻るルートパスを設定-->
  <%= link_to root_path do %>
    <%= image_tag 'nagano_physique.PNG', alt: 'logo用画像', size: '180x80' %>
  <% end %>

  <!--ハンバーガーメニューへの切り替え-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
  </button>

  <!--ナビゲーションが閉じたり開いたりする動作-->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
  <ul class="navbar-nav ml-auto">

    <% if customer_signed_in? %>
      <div style="margin: 10px;">ようこそ<%= current_customer.last_name + current_customer.first_name %>さん！</div>
        <li style="margin: 10px;">
          <%= link_to destroy_customer_session_path, method: :delete do %>
           ログアウト
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%= link_to cart_items_path do %>
            カート
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%= link_to items_path do %>
           商品一覧
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%= link_to customers_path do %>
           マイページ
          <% end %>
        </li>

    <% elsif admin_signed_in? %>
        <li style="margin: 10px;">
          <%= link_to destroy_admin_session_path, method: :delete do %>
           ログアウト
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%= link_to admin_genres_path do %>
           ジャンル一覧
          <% end %>
        </li style="margin: 10px;">
        <li>
          <%= link_to admin_top_path do %>
           注文履歴一覧
          <% end %>
        </li style="margin: 10px;">
        <li>
          <%= link_to admin_customers_path do %>
           会員一覧
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%= link_to admin_items_path do %>
           商品一覧
          <% end %>
        </li>

    <% else %>
        <li style="margin: 10px;">
          <%=  link_to customer_session_path do %>
           ログイン
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%=  link_to new_customer_registration_path do %>
            新規登録
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%=  link_to items_path do %>
           商品一覧
          <% end %>
        </li>
        <li style="margin: 10px;">
          <%=  link_to about_path do %>
          About
          <% end %>
        </li>
    <% end %>
  </div>

    <div class="search-box" style="margin: 10px;">
      <input type="text" class="search-box__text" placeholder="Search">
    </div>

  </header>

  <main>
    <div class="container">
      <div class="row">
        <div class="mx-auto">
        <%= yield %>
        </div>
      </div>
    </div>
  </main>

  <footer class="footer" style="background-color: #DAC3B2; padding: 30px;">
    <div class="container">
    <div class="row">
      <div class="mx-auto">
        CopyRight team-Physique
      </div>
    </div>
  </div>
  </footer>

</html>
