<title>NaganoCake</title>
<header>
  <% if customer_signed_in? %>
       <li>
        <%= link_to root_path do %>
          LOGO
        <% end %>
      </li>
      <li>
        <%=  link_to about_path do %>
         マイページ
        <% end %>
      </li>
      <li>
        <%=  link_to items_path do %>
         商品一覧
        <% end %>
      </li>
       <li>
        <%=  link_to new_customer_registration_path do %>
          カート
        <% end %>
      </li>
       <li>
        <%=  link_to customer_session do %>
         ログアウト
        <% end %>
      </li>
  <% else %>
      <li>
        <%= link_to root_path do %>
          LOGO
        <% end %>
      </li>
      <li>
        <%=  link_to about_path do %>
         About
        <% end %>
      </li>
      <li>
        <%=  link_to items_path do %>
         商品一覧
        <% end %>
      </li>
       <li>
        <%=  link_to new_customer_registration_path do %>
          新規登録
        <% end %>
      </li>
       <li>
        <%=  link_to customer_session_path do %>
         ログイン
        <% end %>
      </li>
  <% end %>
</header>
    
<main>
  <%= yield %>
</main>

<footer>
</footer>

    