<title>NaganoCake</title>
    <li>
      <%= link_to root_path do %>
        LOGO
      <% end %>
    </li>
    <li>
      <%=  link_to about_path do %>
       About
      <% end %>
    </li>
    <li>
      <%=  link_to about_path do %>
       商品一覧
      <% end %>
    </li>
     <li>
      <%=  link_to about_path do %>
        新規登録
      <% end %>
    </li>
     <li>
      <%=  link_to about_path do %>
       ログイン
      <% end %>
    </li>