
<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
  <%= link_to root_path do %>
    <h2>LOGO</h2>
  <% end %>
  <div class="d-flex flex-row-reverse bd-highlight">
    <% if customer_signed_in? %>
    
        <div class="p-2 bd-highlight">
          <%= link_to destroy_customer_session_path, method: :delete do %>
           ログアウト
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to cart_items_path do %>
            カート
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to items_path do %>
           商品一覧
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to customers_path do %>
           マイページ
          <% end %>
        </div>
        <div>ようこそ<%= current_customer.last_name + current_customer.first_name %>さん！</div>

    <% elsif admin_signed_in? %>
        <div class="p-2 bd-highlight">
          <%= link_to destroy_admin_session_path, method: :delete do %>
           ログアウト
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to admin_genres_path do %>
           ジャンル一覧
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to admin_top_path do %>
           注文履歴一覧
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to admin_customers_path do %>
           会員一覧
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%= link_to admin_items_path do %>
           商品一覧
          <% end %>
        </div>

    <% else %>
        <div class="p-2 bd-highlight">
          <%=  link_to customer_session_path do %>
           ログイン
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%=  link_to new_customer_registration_path do %>
            新規登録
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%=  link_to items_path do %>
           商品一覧
          <% end %>
        </div>
        <div class="p-2 bd-highlight">
          <%=  link_to about_path do %>
          About
          <% end %>
        </div>
    <% end %>
  </div>

    <div class="search-box">
      <input type="text" class="search-box__text" placeholder="Search">
    </div>

  </header>

  <main>
    <%= yield %>
  </main>

  <footer>
  </footer>

</html>
